@keyframes shrink
  0%
    transform: scale(2.7)
    -webkit-transform: scale(2.7)
    -ms-transform: scale(2.7)
  90%
    opacity: 1
  100%
    opacity: 0
    transform: scale(0.1)
    -webkit-transform: scale(0.1)
    -ms-transform: scale(0.1)

@keyframes crawl
  0%
    top: 0
    transform: rotateX(20deg) translateZ(0)

  100%
    top: -6000px
    transform: rotateX(25deg) translateZ(-2500px)

@keyframes scroll
  0%
    top: 100%
  100%
    top: -170%

@keyframes fade-in
  0%
    opacity: 0
  100%
    opacity: 1

@keyframes fade-out
  0%
    opacity: 1
  100%
    opacity: 0
