@import "functions"
@import "animations"

*
  font-family: 'Libre Franklin', sans-serif

body
  background-color: black

.text-center
  text-align: center

.full-screen-frame
  width: 100vw
  height: 100vh
  overflow: hidden
  display: flex
  align-items: center
  justify-content: center

#stars
  position: fixed
  top: 0
  left: 0
  opacity: 0.4
  width: 1px
  height: 1px
  background: transparent
  box-shadow: multiple-stars(700)
  &:after
    content: " "
    position: absolute
    top: 2000px
    width: 1px
    height: 1px
    background: transparent
    box-shadow: multiple-stars(700)

#logo
  position: absolute
  transform: scale(2.7)
  -webkit-transform: scale(2.7)
  -ms-transform: scale(2.7)
  z-index: 2

#intro-text
  color: #54e2e3
  font-size: 48px
  max-width: 65%
  font-weight: 300
  line-height: 65px

.fades-in
  animation: fade-in 1s linear

.fades-out
  animation: fade-out 1s linear

.shrinks-out
  animation: shrink 12.5s ease

.hidden
  display: none !important

#scrolling-text-container
  width: 80%
  height: 200%
  overflow: hidden
  transform-origin: 50% 65%
  transform: perspective(350px) rotateX(25deg)
  &:after
    position: absolute
    content: ' '
    left: 0
    right: 0
    top: 0
    bottom: 60%
    background-image: linear-gradient(to bottom, rgba(0,0,0,1) 0%, transparent 100%)
  .title
    font-size: 42px
    text-transform: uppercase
    text-align: center
  .scrolling-text
    position: absolute
    top: 0
    color: #feda4a
    font-size: 330%
    line-height: 150%
    text-align: justify
    font-weight: bold
    letter-spacing: 5px
    animation: scroll 102s linear

#credits-container
  padding: 35px 20px
  color: white
  border: 1px solid white
  border-radius: 12px
  display: flex
  align-items: center
  justify-content: center
  flex-direction: column
  p
    margin: 0
  button
    -webkit-appearance: none
    -moz-appearance: none
    appearance: none
    margin-top: 20px
    background: black
    border: 0
    outline: 0
    border: 1px solid #ffffff
    height: 50px
    color: white
    border-radius: 8px